In [8]:
import pandas as pd

In [14]:
import json
with open(r"./itens.json") as itens:
  data = json.load(itens)

In [39]:
df = pd.DataFrame(data)
df['miles'] = df['miles'].str.replace('.', '', regex=True).astype(int)
df['price'] = df['price'].str.replace('.', '', regex=True).replace(',', '.', regex=True)
df['qty'] = (df['miles']/df['price'].astype(float).astype(int)).astype(int)
df.sort_values(by=['qty'], ascending=False)

                                                   url    price  miles  qty
0    /smiles/produto.jsf?f=8&p=2285673_8&n=Caixa+de...  1109.90   3330    3
79   /smiles/produto.jsf?f=8&p=2346618_8&n=Apple+iP...  5999.00  17997    3
92   /smiles/produto.jsf?f=8&p=2340745_8&n=Caixa+de...   549.90   1650    3
91   /smiles/produto.jsf?f=8&p=2273446_8&n=Fone+de+...   299.90    900    3
90   /smiles/produto.jsf?f=8&p=2312411_8&n=Smartwat...  1079.99   3240    3
..                                                 ...      ...    ...  ...
37   /smiles/produto.jsf?f=8&p=2274413_8&n=Adaptado...    54.00    162    3
36   /smiles/produto.jsf?f=8&p=2280022_8&n=C%C3%A2m...   169.00    507    3
35   /smiles/produto.jsf?f=8&p=2312409_8&n=Smartwat...  1169.99   3510    3
34   /smiles/produto.jsf?f=8&p=0404194_8&n=Headset+...   164.99    495    3
124  /smiles/produto.jsf?f=3&p=37236803_3&n=Aspirad...   799.90   2400    3

[125 rows x 4 columns]